.tile3-container {
    margin-top: 50px;
    /* height: 100vh; */
}

.notebook-iframe {
    width: 90vw;
    /* Adjust based on your preference */
    height: 70vh;
    /* Adjust based on your preference */
    border: none;
    /* Removes the default iframe border */
}