/* Home.css */
.home-container {
    height: 100vh;
    width: 100vw;
    background-image: url('/Forest7.jpg');
    /* Adjust as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    /* Ensure readability against your background */
}

.main-text {
    font-size: 5em;
    /* Example font size */
    font-weight: 700;
    
    padding: 14px 20px;
    color: rgba(255, 255, 255, 0.595);
    position: relative;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(0px);
    box-shadow: 0 0 200px 200px rgba(0, 0, 0, 0.55);
    /*Adjust the color and spread as needed*/
    margin: -8px;
    padding: 14px 18px;
    /* Padding around the text */
    border-radius: 30px;
    /* Optional: rounded corners for the background */
}

@media (max-width: 768px) {
    .main-text {
        font-size: 18px;
        /* Smaller font size for smaller devices */
    }
}
